.button {
    -fx-background-color: rgb(173, 202, 255);
    -fx-background-radius: 10;
}

.button:pressed {
    -fx-background-color: rgb(173, 202, 230);
}

.button:hover {
    -fx-background-color: rgb(196, 217, 255);
}

.root {
    -fx-background-color: rgb(224, 235, 255);
}

#cross-column {
    -fx-alignment: CENTER;
}

#naught-column {
    -fx-alignment: CENTER;
}

.table-view {
    -fx-base: #dfe3ff;
    -fx-control-inner-background: #dfe3ff;
    -fx-background-color: rgb(224, 235, 255);
}

.table-view .column-header-background .label {
    -fx-font-size: 15px;
}

#game-button {
    -fx-background-color: rgb(173, 202, 255);
    -fx-background-radius: 20;
    -fx-font-size: 40px;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

#game-button:hover {
    -fx-background-color: rgb(196, 217, 255);
}

#info-label {
    -fx-font-family: Arial;
    -fx-font-size: 25;
    -fx-padding: 10 10 10 20;
}

.grid-pane {
    -fx-padding: 0 10 10 0;
}